<div ng-controller="SearchResultsController" class="row">
    <div class="col-md-12 text-center">
        <div ng-if="tracks.length !== 0" class="jumbotron">
            <h1>Showing results for "{{ query }}"...</h1>
        </div>
        <div ng-if="tracks.length === 0" class="jumbotron">
            <h1>Searching for "{{ query }}"...</h1>
        </div>
    </div>


      <div class="container" ng-if="tracks.length !== 0">          
        <table class="table">
          <thead>
            <tr>
              <th>Artwork</th>
              <th>Title</th>
              <th>Genre</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="track in tracks">
              <td><img ng-src="{{track.artwork_url}}"></td>
              <td>
                {{track.title}}</br>
                  <button type="button" class="btn btn-default">Download</button>
              </td>
              <td ng-if="track.title !== null">{{track.genre}}</td>
              <td ng-if="track.title === null">N/A</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
